h2{
	color:#003366;
	font-size:120%;
	border-left:10px solid #003366;
	border-bottom:1px solid #003366;
	padding-left:5px
}
address{
	color:#003366;
	font-weight:bold;
	font-size:70%;
	text-align:right;
	border-top:5px solid #003366;
	clear:both
}
h1{
	background-image:url(../image/line.gif);
	background-repeat:repeat-x;
	color:#333333;
	font-size:150%;
	padding:5px;
	margin-top:0
}
p{
	font-size:90%;
	line-height:140%
}
body{
	margin:0;
	padding:0;
	background-color:#ffffff;
	color:#333333
}
.logo{
	background-color:#003366;
	margin:0
}
.page{
	width:700px
}
.photo{
	float:right;
	margin-left:10px
}
.top{
	clear:both;
	text-align:right
}
ul li{
	list-style-image:url(../image/list.gif);
	font-weight:bold;
	margin-left:10px;
	margin-bottom:10px
}
table{
	border-collapse:collapse;
	border:1px solid #003366;
	width:525px;
	font-size:90%;
	color:#003366
}
th{
	background-color:#9999ff;
	border:1px solid #003366;
	padding:10px
}
.rowitem{
	background-color:#ccccff
}
td{
	border:1px solid #003366;
	padding:10px
}
caption{
	font-weight:bold
}
.point a:link{
	color:#336699
}
.point a:visited{
	color:#666666
}
.point a:hover{
	color:#cc6699
}
a img{
	border:0
}
.main{
	float:right;
	width:525px;
	padding-top:10px;
	padding-bottom:20px
}
.menu{
	float:left;
	width:160px;
	padding-top:10px;
	padding-left:10px
}
.menu ul{
	border-top:13px solid #003366;
	border-left:1px solid #003366;
	border-right:1px solid #003366;
	border-bottom:1px solid #003366;
	margin:0;
	padding:0
}
.menu li{
	list-style-image:none;
	list-style-type:none;
	margin:0;
	line-height:230%;
	text-align:center
}
.kugiri{
	border-bottom:1px dotted #cccccc
}
.menu a{
	display:block;
	width:100%;
	color:#003366
}
.menu a:hover{
	background-color:#ffff99
}
.select{
	background-color:#cccccc
}